body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.box-shadow img {
  max-height: 200px;
  max-width: 350px;
}

.price {
  font-weight: bold;
  font-size: 12;
}